
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,h2, h3, h4, h5, h6 {
    font-family: serif;
    color: rgba(0, 0, 128, 0.74);
    font-weight: 700;
}

/* START NAVBAR */
#navbar {
    width: 100%;
    height: 10vh;
    position: fixed;
    background: #00003d;
    top: 0%;
    padding: 12px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    gap: 40px;
    margin-left: auto;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

li:hover {
    background-color: #c3c1c12f;
    border-radius: 15px;
    padding: 10px;
}
/* END NAVBAR */

/* start hero */
#hero {
    width: 100%;
    height: 80vh;
    background: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2ViJTIwZGV2ZWxvcG1lbnQlMjBhZ2VuY3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.30);
}

#hero h1 {
    z-index: 1;
    margin-top: -50px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    font-size: 5em;
    color: #000000;
}

#hero p {
    z-index: 1;
    font-size: 2em;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
/* end hero */

/* start about */
#about {
    padding: 20px; 
    width: 100%;
    height: auto;
    background: #c3c1c1;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}

#about p {
    margin: 20px 80px;
    text-align: justify;
    color: #000000;
}
/* end about */

/* start services */
#services {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 500px;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 5em;
  }

  .container .card {
    position: relative;
    cursor: pointer;
  }

  .container .card .face {
    width: 370px;
    height: 250px;
    transition: 0.5s;
  }

  .container .card .face.face1 {
    position: relative;
    background: rgb(68, 68, 68);
    z-index: 1;
    transform: translateY(100px);
  }

  .container .card:hover .face.face1 {
    background: #007474;
    transform: translateY(0);
  }

  .container .card .face.face1 .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    opacity: 0.7;
    transition: 0.5s;
  }

  .container .card:hover .face.face1 .info {
    opacity: 1;
  }

  .container .card .face.face1 .info img {
    max-width: 150px;
  }

  .container .card .face.face1 .info h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
  }

  .container .card .face.face2 {
    position: relative;
    background: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);
  }

  .container .card:hover .face.face2 {
    transform: translateY(0);
  }

  .container .card .face.face2 .info p {
    margin: 0;
    padding: 0;
  }
/* end services */

/* start porrfolio */
#portfolio {
  width: 100%;
  height: auto;
  background: #efefef;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  padding-top: 20px;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}

.infomation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  padding: 30px 30px;
  gap: 20px;  
}

.items {
  display: block;
  float: left;
  flex: 0 0 auto;
  background-color: #c3c1c1;
  padding: 15px;
}

.items .text {
  text-align: center;
  padding: 5px;
}

.items img {
    padding: 15px;
    border-radius: 20px;
}

.items img:hover {
  transform: scale(1.1);
}

.items .text a {
  color: #000000;
  text-decoration: none;
}

.items .text a:hover {
  color: #1f2937;
}
/* end porrfolio */

/* start team */
#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #000029ab;
}

.title {
  padding-top: 20px;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.detail-card {
  background-color: #ffffffc7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.detail-card img {
  width: 100%;
}

.detail-card h2,p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-weight: 200;
}

.detail-card .name {
  color: #555;
}

.card-container {
  padding: 0 16px;
}

.card-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* end team */

/* START FOOTER */
#footer {
  background: #1f2937;
  color: #f9faf8;
}

.footer-txt {
  padding: 5px;
  text-align: center;
}
/* END FOOTER */